.form-group {
    margin-bottom: 1rem;
}

.form-control{
    border-radius: 1px;
}

.form-group label {
    text-align: left;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.modal-header{
    border-bottom: 1px solid #ebedf2;
    padding: 2px 15px;
}

.modal-content{
    border-radius: 4px;
    box-shadow: 0 9px 10px 1px rgba(18,152,182,0.75);
}

.modal-body{
    padding: 30px;
}

.modal-footer{
    border-top: 0;
}

.btn-crear-negocio{
    width: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c79fe;
    border-color: #1c79fe;
    font-size: 13px;
}

.btn-editar-negocio{
    width: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28a745;
    border-color: #28a745;
    font-size: 13px;
    /*color: white;*/
}

.btn-crear-negocio-label {
    font-size: 22px;
}

a[href="#"]{
    text-decoration: none;
    padding: 0 2px;
}

.icon-edit{
    font-size: 22px;
    color: #1c79fe;
}

.icon-edit:hover{
    color: #1761ca;
}

.icon-delete{
    font-size: 22px;
    color: #f11818;
}

.icon-delete:hover{
    color: #921010;
}

.btn-cerrar-modal{
    width: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc107;
    border-color: #ffc107;
    font-size: 13px;
}
.btn-cerrar-modal:hover{
    background-color: #d7ab0f;
    border-color: #d7ab0f;
}

.btn-cerrar-modal-label {
    font-size: 15px;
}

.btn-agregar-foto{
    color: rgba(18, 152, 182, 0.9);
    cursor: pointer;
    font-size: 12px!important;
}

.form-control{
    border-color: rgba(18, 152, 182, 0.8);
}

.form-control:focus{
    outline: none;
    border-color: #1c79fe;
    box-shadow: 0 0 3px #1c79fe;
}

.form-control::placeholder{
    font-size: 14px;
    color: rgba(18, 152, 182, 0.4);
}

.card{
    cursor: pointer;
}

.card-img{
    max-width: 100px;
    margin: auto;
}

@media (max-width: 600px)  {
    .card-img{
        max-width: 100px;
        margin: 10px auto 0;
    }
}

.carta-individual{
    padding: 20px;
}

.header-review{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.icon-agregar-review{
    color: rgb(13, 202, 240);
    border-radius: 20px;
    border: 1px rgb(13, 202, 240) solid;
}

.card-review{
    padding: 20px 40px;
}

.contenedor-estrellas{
    display: flex;
    justify-content: center;
    align-items: center;
}



